name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4  # Se recomienda usar la versi칩n m치s reciente

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'  # Especifica la versi칩n de Node.js

      - name: Install dependencies
        run: npm install  # Se recomienda usar el comando en vez de una acci칩n externa

      - name: Build project
        run: npm run build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4  # Actualizado a v4
        with:
          name: production-files
          path: ./dist

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4  # Se necesita para `peaceiris/actions-gh-pages`

      - name: Download artifact
        uses: actions/download-artifact@v4  # Actualizado a v4
        with:
          name: production-files
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
